.div-board {
    margin: 1rem 15px 0;
    border: solid #f7f7f9
  }
  
  .add {
    margin: 1rem 15px 0;
  }

.row img {
  width: 50%;
  height: 50%;
  margin: 50px;
}

.hideThis {
  visibility: hidden;
}